/* Colorcitos: 
Azul medio (Header/ principal): #1D3557 
Azul Claro (Botones/links): #457B9D
Amarillo clarito (Ofertas) #FCD05D
Blanco medio grisaseo (Fondo General): #F1FAEE
Texto: #333333
*/
/* --------------------------PRINCIPAL----------------------------------- */
*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #F1FAEE;
    font-family:'Times New Roman', Times, serif;
}

a {
    text-decoration: none;
    color: inherit;
}

header{
    position: relative;
    height: 400px;
    color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.imagen-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('img/buenos-aires-el-calafate-ushuaia-portada.jpg');
    background-size: cover;
    background-position: center;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.3);
    background-blend-mode: darken;
}
.header-content{
    position: relative;
    z-index: 10;
    padding: 20px 40px;
    display: flexbox;
    display: flexbox;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    color: white;
}

h1 {
    font-size: 3em;
    text-align: center;
    margin-top: 0;
    padding-bottom: 30px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

nav{
    display: flexbox;
    flex-basis: 1;
    margin-top: 210px;
    font-weight: 600;
    width: 100%;
    padding: 8px 15px;
    border-radius: 5px;
}

nav a {
    color: white;
    font-weight: 600;
    padding: 8px 15px;
    border-radius: 5px;
    transition: background-color 0.3s;
}
nav a:hover {
    background-color: #457B9D;
}

main {
    padding: 40px 20px;
    max-width: 1200px;
    margin: 0 auto;
}
main > section {
    text-align: center;
    padding-bottom: 40px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 40px;
}
h2 {
    color: #1D3557;
    text-align: center;
    margin-bottom: 20px;
    font-size: 2.2em;
}

.carrusel-container{
    height: 60vw;
    width: 65vw;
    margin: 20px auto;
    overflow: hidden; 
    position: relative;
    
}

.card {
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
    margin: 0 auto;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative;
    
}

.card.hidden {
    opacity: 0;
    pointer-events: none; 
}




.card img {
    height: 35vw;
    width: 65vw;
    background-size: cover;
    background-position: center;
}

.card-info {
    padding: 15px;
    text-align: center;
}

.card-info h3 {
    margin: 0; 
    color: #1D3557; 
    font-size: 1.2em;
}

.card-info h5 {
    margin: 5px 0;
    color: #6c757d;
    font-size: 0.9em;
}

.card-info h2 {
    margin: 10px 0;
    color: #1D3557;
    font-size: 1.8em;
}

.card-info p {
    margin: 0;
    font-size: 0.8em;
    color: #6c757d;
}

.carrusel-btn {
    position: absolute;
    top: 30%;
    background-color: grey;
    color: white;
    border: none;
    cursor: pointer;
    z-index: 10;
    font-size: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    transition: background-color 0.3s;
}

.carrusel-btn:hover {
    background: #457B9D;
}

#btn-prev {
    left: 0px;
}
#btn-next {
    right: 0px;
}

.section-form {
    background-color: #F1FAEE;
    padding: 60px 20px;
    margin-top: 40px;
    text-align: center;
}

.section-form h2, 
.section-form p {
    color: #1D3557;
    margin-bottom: 20px;
}

.form-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    max-width: 800px;
    margin: 0 auto;
    padding: 30px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-grupo {
    display: flex;
    flex-direction: column;
    width: 49%;
    flex-grow: 1;
    text-align: left;
}

.form-consulta {
    width: 100%;
}

.form-grupo label {
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
}

.form-grupo input, 
.form-grupo textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}
.form-btn-submit{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.form-flex button[type="submit"] {
    width: 50%;
    padding: 15px;
    background-color: #457B9D;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.1em;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
}

.form-flex button[type="submit"]:hover {
    background-color: #1D3557;
}


footer {
    text-align: center;
    padding: 20px;
    background-color: #343a40;
    color: #e9ecef;
    font-size: 0.8em;
}

/*------------------------Paginas HIJAS--------------------*/
.header-img-merlo,
.header-img-bariloche,
.header-img-cataratas,
.header-img-ushuaia {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.3);
    background-blend-mode: darken;

}
.info-contenedor {
    display: flex;
    gap: 30px;
    align-items: flex-start;
    padding: 20px 0;
}
.info-destino{
    flex: 2;
    padding-right: 20px;
}

ul {
    margin-top: 10px;
    list-style-type: none;
    padding-left: 0;
    text-align: left;
}

.info-paquete {
    flex: 2;
    background-color: white;
    min-width: 250px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    background-color: white; 
    overflow: hidden;

}
.btn-reserva {
    display: inline-block;
    background-color: #FCD05D;
    color: #1D3557;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 15px;
    font-weight: bold;

}

.btn-reserva:hover {
    background-color: #f7bb3c;
}

.paquete-img {
    height: 150px;
    width: 100%;
    background-size: cover;
    background-position: center;

}

.explora-section {
    height: 35vw;
    width: 65vw;
}

/*------------------------Merlo--------------------*/

.header-img-merlo{
    background-image: url('img/merloMirador.webp');
}
.merlo .paquete-img {
    background-image: url('./img/SaltoDelTigre.jpg');
}
/*------------------------Bariloche--------------------*/

.header-img-bariloche{
    background-image: url('img/bariloche.jpg');
}
.bariloche .paquete-img {
    background-image: url('./img/bariloche.jpg');
}

/*------------------------CATARATAS--------------------*/

.header-img-cataratas{
    background-image: url('img/cataratas-scaled.jpg');
}
.cataratas .paquete-img{
    background-image: url('img/cataratas-scaled.jpg');

}
/*-------------------------USHUAIA--------------------*/

.header-img-ushuaia{
    background-image: url('img/ushuaia.jpg');
}
.ushuaia .paquete-img{
    background-image: url('img/ushuaia.jpg');

}
